.functionbutton {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.functionbutton:hover {
    transform: scale(1.1);
}

.functionbutton__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #e9c16c;
}

.functionbutton__img {
   display: block;

}

.functionbutton__text {
    display: block;
    margin-left: 15px;
}