@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 52px;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
h3 {
    font-size: 99px;
}

h4 {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 15px;
}