

.app {
    display: flex;
    justify-content: space-around;
    // background-image: url("./images/app-bg.png");
    background-color:rgba(39, 59, 95, 0.541);
    background-repeat: no-repeat;
    background-position: left 80%;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}